.contact {

  .contact-area {
    overflow: hidden;
    position: relative;
    background: #D52047;

    .contact-heading {
      padding: 100px 0;

      .contact-heading-item {
        color: white;
        margin: 0;
      }
    }

    .contact-desc {
      background: #FAFAFA;
      padding: 50px 0 50px 50px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50vw;
      object-fit: cover;

      .contact-icon {
        margin-right: 10px;

        i {
          font-size: 25px;
          color: #ED4C5C;
        }
      }

      .contact-href {
        a {
          text-decoration: none;
          color: black;
          padding: 2px 0;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .contact-area {

      .contact-desc {
        position: static;
        left: 0;
        width: 100vw;
        top: auto;
      }

      .contact-heading {
        width: 100%;
      }
    }
  }
}

